<!doctype html>

<html lang="{{ .Site.LanguageCode | default "en" }}">

<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M7RM92T');</script>
  <!-- End Google Tag Manager -->

  <title>{{ .Site.Title }}</title>
  {{ partial "meta" . }}
  {{ partial "header_includes" . -}}
</head>

<body>
  <div id="container">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7RM92T"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    <div style="display:none;" id="description">
      <p>{{ .Params.description  }}</p>
    </div>
    
    <div id="header_container">
    <header id="header">
      <a href="{{ relURL "/" }}" id="title_a">
        <div id="title">
            <h1 class="logo">{{ .Site.Title | markdownify }}</h1>
            <h3 class="logo">{{ .Site.Params.tagline | markdownify }}</h3>
        </div>
      </a>
      {{ partial "nav" . }}
    </header>
    </div>

    <main>
