html, body
{
    height: 100%;
}

html
{ 
  
}

body
{
    font-family: 'Roboto', Verdana, Arial, sans-serif;
    background: #fcfcfc;
    margin: 0px;
    overflow-x: hidden;
}

/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/

.logo
{
    margin: 0px;
}

a
{
    color: #666666;
    text-decoration: none;
}

/*-------------------------------------------------------------------*/
/* TITLE */
/*-------------------------------------------------------------------*/

#title
{
    display: inline-block;
    /*float: left;*/
    /*display: table-cell;
    vertical-align: middle;*/
}

#title h1
{
    font-weight:900;
    font-size: 64px;
    font-size: 100px;
    color: black;
    /*color: white;
    background-color: black;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: 5px;*/
}

#title h3
{
    color: grey;
    font-weight: normal;
    text-align: right;
    margin: 0px 10px;
}

/*-------------------------------------------------------------------*/
/* NAV MENU*/
/*-------------------------------------------------------------------*/

#menu_container
{
    /*  margin: 0px auto;*/
    /*float: right;*/
    /*float: center;*/
    /*text-align: right;*/
    text-align: center;
    margin: 20px;
    /*display: table-cell;*/
    /*vertical-align: bottom;*/
}

#menu
{
    /*padding-bottom: 26.8px;*/
    /*overflow: hidden;*/
}

#menu ul
{
    margin: 0px auto;
    /*float:right;*/
    /*display: table-cell;
    vertical-align: middle;*/
    list-style-type: none;
    /*margin: 0;*/
    padding: 0;
    /*overflow: hidden;*/
    /*background-color: #333;*/
}

#menu li {
    /*float: left;*/
    display: inline;
    cursor: pointer;
}

#menu li a {
    /*display: block;*/
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/*#menu li a:hover {
    background-color: #111;
    color: black;
}*/

#menu li a:hover {
    text-decoration: underline;
}

/*-------------------------------------------------------------------*/
/* Homepage styles */
/*-------------------------------------------------------------------*/

.use_edin_bg
{
    background: url(../imgs/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home_header_container
{
    /*margin: 30px;*/
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    height: 350px;
    max-width: 1024px;
    text-align: center;
}

#home_header_container #title h1
{
    color: white;
}

#home_header_container #title h3
{
    color: lightgrey;
}

#home_header_container #menu li a
{
    color: white;
}

/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/

#container > *
{
    max-width: 700px;
    margin: 0 auto;
}

#header_container
{
    margin: 30px auto;
    margin-bottom: 0;
    max-width: 1024px;
    text-align: center;
}

/*-------------------------------------------------------------------*/
/* IS THIS EVEN REQUIRED??? */
/*-------------------------------------------------------------------*/

#header
{
    /*width: 100%;
    max-width: 1024px;*/
    display: inline-block;
    margin: 0px auto;
    padding: 0px 0px;
    text-align: center;
    /*display: table;*/
    /*min-height: 100px;*/
    
    /*height: 50px;*/
}

#title_a
{
    /*float: left;*/
    /*display: table-cell;*/
    /*vertical-align: bottom;*/
    text-decoration: none;
}

#content_about
{
    /*min-height: 100px;*/
    /*max-width: 1024px;
    margin: 0px auto;
    padding: 0px 0px;
    width: 100%;
    padding: 20px;
    text-align: left;*/
}

/*-------------------------------------------------------------------*/
/* ABOUT PAGE */
/*-------------------------------------------------------------------*/

#profile_pic
{
    width: 258px;
    height: 258px;
    padding: 5px;
    background-color: lightslategrey;
    border-radius: 50%;
}

.contact_logo
{
    margin: 0 5px;
}

#email_text
{
    text-align: center;
    padding: 20px 0;
}

#email_text a
{
    color:black;
}

/*-------------------------------------------------------------------*/
/* PORTFOLIO PAGE */
/*-------------------------------------------------------------------*/

.full-width
{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

#content
{
    /*padding: 20px;*/
    text-align: center;
}

/*iframe
{
    border-color: black;
    border-width: 0px;
}*/

.video_container
{
    display: inline-block;
    width: 40%;
    margin: 10px;
    height: 100%;
    text-align: left;
}

.aspect_ratio
{
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.aspect_ratio iframe
{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

/* ---------------------------------------------------------------- */
/* BLOG */
/* ---------------------------------------------------------------- */

main
{
    padding-bottom: 30px;
}

#container main section#list
{
    margin: 0px;
    padding: 20px;
}

#container main section#list ul
{
    margin: 0px;
    padding: 0;
    list-style: none;
}

#container main section#list ul li
{
    padding: 1.0em 0;
    border-bottom: 1px solid #cecece;
}

#container main section#list ul li a
{
    text-decoration: none;
    color: #666666;
}

#container main section#list ul li aside
{
    text-decoration: none;
    color: grey;
}

#container main section#list ul li .post_title
{
    font-size: 24px;
}

#container main section#list ul li time, #container main section#list ul li span.count
{
    float: right;
}

#container main section#list ul li:last-child
{
    border-bottom: none;
}

/* ---------------------------------------------------------------- */
/* BLOG ENTRY */
/* ---------------------------------------------------------------- */
/*
.image, figure img, img
{
    width: 100%;
    box-shadow: 0 3px 3px #bbbbbb;
}
*/
.full-image, figure.full img, img[src*="full"]
{
    width: 100%;
    box-shadow: 0 3px 3px #bbbbbb;
}

@supports (width: 100vw)
{
    .full-image, figure.full img, img[src*="full"]
    {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

.mid-image, figure.mid img, img[src*="mid"]
{
    width: 100%;
    box-shadow: 0 3px 3px #bbbbbb;
}

@supports (width: 100vw)
{
    .mid-image, figure.mid img, img[src*="mid"]
    {
        width: 800px;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -400px;
        margin-right: -400px;
    }
    @media only screen and (max-width: 800px)
    {
        .mid-image, figure.mid img, img[src*="mid"]
        {
        width: 100%;
        left: 0;
        right: 0;
        margin: 0;
        }
    }
}

.float-image, figure.float img, img[src*="float"]
{
    width: 300px;
    float: left;
    margin: 0 1em 1em -3em;
    box-shadow: 0 3px 3px #bbbbbb;
}

@media only screen and (max-width: 800px)
{
    .float-image, figure.float img, img[src*="float"]
    {
        float: none;
        margin: 0;
        width: 100%;
    }
}

.float-image-right, figure.float-right img, img[src*="float-right"]
{
    width: 300px;
    float: right;
    margin: 0 -3em 1em 1em;
    box-shadow: 0 3px 3px #bbbbbb;
}

@media only screen and (max-width: 800px)
{
    .float-image-right, figure.float-right img, img[src*="float-right"]
    {
        float: none;
        margin: 0;
        width: 100%;
    }
}

figure
{
    margin: 0;
}

figure figcaption p
{
    margin-top: 0.3em;
    font-size: 0.8em;
    font-style: italic;
}

figure.full
{
    margin: 0;
}

figure.mid
{
    margin: 0;
}

figure.float
{
    margin: 0;
    float: left;
}

figure.float-right
{
    margin: 0;
    float: right;
}

figure.float-right figcaption
{
    margin-left: 1em;
}

/* ---------------------------------------------------------------- */
/* PAGINATION */
/* ---------------------------------------------------------------- */

ul.pagination
{
    display: flex;
    justify-content: center;
    margin: 1em 0 0;
    padding: 0.5em 0;
    list-style: none;
}
  
ul.pagination li
{
    padding: 0 1em;
}

#container main section.post-nav ul
{
    margin: 0.5em 0;
    padding: 0.5em 0 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f7f7f7;
    font-size: 0.9em;
}

/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

@media all and (max-width: 640px)
{
    #header
    {
        display: block;
    }

    #title_a
    {
        display: block;
        text-align: center;
        text-decoration: none;
    }
    #title h1
    {
        font-size: 48px;
    }
    
    #title h3
    {
        margin: 0px 2px;
    }

    #menu_container
    {
        display: block;
        text-align: center;
    }

    #menu
    {
        /*width: 100%;*/
        text-align: center;
    }

    #menu ul
    {
        float: none;
        margin: 2px auto;
        line-height: 1.4;
        padding-left: 0;
    }

    #menu li
    {
        float: none;
        display: inline;
        text-align: center;
    }

    #menu li a
    {
        width: auto;
        font-size: 16px;
    }

    .video_container
    {
        display: inline-block;
        width: 80%;
        margin: 10px auto;
        /*text-align: center;*/
    }
}